recursive-include hm *.fst *.cas *.lex *.txt *.dct
recursive-exclude hm ti_lang.py om_lang.py stv_lang.py
include horn3.1A_quick.pdf
include horn2.6.pdf
include LICENSE.txt
include README.txt
include hm.py
exclude hm/test.py
exclude hm/languages/am/fst/nG.fst
exclude hm/languages/am/fst/vG.fst
prune hm/languages/ti
prune hm/languages/om
prune hm/languages/sgw
prune hm/languages/stv
prune hm/languages/en
prune hm/languages/am/data/crawl
prune hm/languages/am/data/martha
prune hm/languages/am/data/martha_out
