include src/languages/eng/*/*.cas
include src/languages/eng/*/*.lex
include src/languages/eng/*/*.fst
include src/languages/eng/eng.lg
include src/languages/eng/eng.um
include src/hm/morpho/geez/*.txt

